{% extends 'core/main.html' %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="col-lg-12">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'espacio' %}">&#x2190; Volver a Espacios</a>
				<br>
				<br>
				<div class="cart-row">
					<div style="flex:2"><strong>Fotografía del Espacio</strong></div>
					<div style="flex:2"><strong>Reserva</strong></div>
					<div style="flex:1"><strong>Aforo</strong></div>
					<div style="flex:1"><strong>Valor</strong></div>
				</div>
				{% for espacio in espacios %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{espacio.espacio.imageURL}}"></div>
					<div style="flex:2"><p>{{espacio.espacio.nombre}}</p></div>
					<div style="flex:1"><p>{{espacio.espacio.aforo}}</p></div>
					<div style="flex:1">
						<p class="quantity">${{espacio.espacio.precio|floatformat:2}}</p>
						<div class="quantity">
							<img data-espacio="{{espacio.espacio.id}}" data-action="remove" src="{% static 'images/trash.png' %}" alt="" class="chg-quantity update-carrito">
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<br>
			<div class="box-element">
				<table class="table">
					<tr>
						<th><h5 style="padding-top: 12px;">Cantidades de Reservas: <strong>{{reserva.obtener_total_espacios}}</strong></h5></th>
						<th style="padding-left: 550px;"><h5 style="padding-top: 12px;">Total: <strong>${{reserva.obtener_total_carrito|floatformat:2}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'pago' %}">Pagar</a>
						</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock content %}