{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block importaciones %}
<script src="{% static 'core/js/func.js' %}"></script>

<script>
  window.onload = today;
</script>

{% endblock %}
{% bootstrap_css %}

{% block docname%}
<title>Ver disponibilidad</title>
{% endblock%}

{% block contenido %}

  <div class="row w_txt">
    <div class="col title">
      <h1 class="title">Reserva tu Espacio</h1>
      <p>Optimiza tiempos y haz tu reserva en línea</p>
      <br><br>
      <h2>Hoy: <span id="t"></span></h2>
    </div>
</div>

<div style="color: cyan;">
  <h1>{{espacio.nombre}}</h1>
<h1>{{espacio.descripcion}}</h1>
</div>




  


{% if espacio.nombre == 'Quincho' %}
<!-- <div class="card">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Seleccione Horario
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">12-17 hrs</a></li>
      <li><a class="dropdown-item" href="#">17-24 hrs</a></li>
    </ul>
  </div>
</div> -->


{% endif %}



<!-- contenido dinamico, segun tipo de espacio -->

{% endblock %}