{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load mathfilters %}

{% block importaciones %}
<script src="{% static 'core/js/func.js' %}"></script>

<script>
  window.onload = today;
</script>

{% endblock %}
{% bootstrap_css %}

{% block docname%}
<title>Ver disponibilidad</title>
{% endblock%}

{% block contenido %}
<form action="" method="POST">
    {% if espacio.nombre == 'Piscina' %}
    <select class="form-select">
        <option selected>Despliega el menú</option>
        <option value="1">10-12 am</option>
        <option value="2">12-16 pm</option>
        <option value="3">16-18 pm</option>
    </select>
    {% endif %}
</form>

{% endblock %}