{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}

{% block docname%}
<title>Reserva</title>
{% endblock%}

{% block contenido %}

<div class="row">
    <div class="col title">
      <h1 class="w_txt title">Reserva tu Espacio</h1>
      <p class="w_txt">Optimiza tiempos y haz tu reserva en línea</p>
    </div>
</div>


<div class="cards text-justify">
  <div class="row">

    {% for i in espacios %}
      <div class="col zoom">
        <div class="card" style="width: 18rem;">
          <img src="{{i.imagen.url}}" alt="{{i.nombre}}">
          <div class="card-body">
            <h3 class="card-title">{{i.nombre}}</h3>
          </div>
          <div class="card-body">
          <p>{{i.descripcion}}</p>
          <h5>Aforo: {{i.aforo}}</h5>

          {% if i.precio == 0 %}
            <h5>Precio: <span style="text-decoration: underline 5pt yellow;">Gratis</span></h5>
          {% else %}
            <h5>Precio: <span style="text-decoration: underline 5pt yellow;">${{i.precio | intcomma}}</span></h5>
          {% endif %}
          {% if i.temporada == True %}
            <h5>Temporada: 	&#x2714;</h5>
          {% else %}
            <h5>Temporada: &#10008;</h5>
          {% endif %}
          </div>
          <div><a href="#" class="btn btn-dark">Go somewhere</a></div>
          
        </div>
      </div>
    {% endfor %}

  </div>
  
</div>





{% endblock %}